:root {
  --yeti-docu-m-sections: 40px 0;
  --yeti-docu-secondary: #00c1c5;
}

body {
  padding: 0 10px;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Sections */
section {
  margin: 2.5rem 0;
}
section > div {
  margin: 3.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
section > div:nth-of-type(1) {
  margin: 1.2rem 0;
}
section > div:last-child {
  margin-bottom: 4.4rem;
}
section:last-child > div {
  margin-bottom: 0;
}

/* Text and titles */
h1 {
  margin-bottom: 1rem;
  background-color: var(--yeti-info);
  background: linear-gradient(to left, var(--yeti-info) 25%, var(--yeti-docu-secondary) 75%);
  background: -webkit-linear-gradient(left, var(--yeti-info) 25%, var(--yeti-docu-secondary) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  width: 100%;
  margin: 1.2rem 0 0;
  font-size: 1.7rem;
  color: var(--yeti-info);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--yeti-info);
}
h3 {
  font-size: 1.4rem;
}
h3, p {
    margin: 0;
}
header, h2, h3, summary {
  font-family: "Sour Gummy", serif;
  letter-spacing: 1px;
}
header > p, summary {
  font-size: 1.1rem;
}

img.logo {
  width: 375px;
  max-width: 100%;
  user-select: none;
}

strong {
  color: var(--yeti-docu-secondary);
  font-weight: normal;
}

button {
  max-width: fit-content;
  font-size: 1em;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--yeti-info);
  border: none;
  border-radius: 5px;
}
button.ok {
  background-color: var(--yeti-ok);
}
button.warn {
  background-color: var(--yeti-warn);
}
button.nok {
  background-color: var(--yeti-nok);
}
button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
button:active {
  filter: brightness(1.2);
  transition: filter 0.5s ease;
}

a {
  text-decoration: none;
  color: var(--yeti-info);
}
a:hover {
  filter: brightness(.8);
}

.flexrow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Dropdowns */
summary {
  margin: 10px;
  cursor: pointer;
  outline: none;
}
summary:hover {
  color: var(--yeti-info);
}
details {
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Code */
code {
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
}
code.simple {
  margin: 0;
  color: var(--yeti-info);
}

/* Tables */
div.container-table {
  overflow-x: auto;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--yeti-info);
}
table th {
  background-color: var(--yeti-info);
  color: #fff;
}
table td, table th {
  padding: 8px 16px;
}
td:not(:first-child) {
  border-left: 1px solid var(--yeti-info);
}

/* Responsive */
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  body {
    margin: 10px 4px;
  }

  table, code:not(.simple) {
    font-size: .8em;
  }

  details {
    padding: 8px 0;
  }
}

